<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>Personas Registradas</title>
  <% include partials/head %>
  <% include partials/menu %>
</head>
<hr>
<body class="signup">
  <div class="container">
    <div class="col-sm-6 mx-auto">
      <div class="card mt-5">
        <div class="card-header">
          <h6 style="text-align: center;">Lista de Clientes</h6>
        </div>
        <div class="card-body">
             <strong>id</strong>: <br>
            <strong>Nombre</strong>: Victor <br>
            <strong>Apellido</strong>: Ramirez <br>
            <strong>Fecha de Nacimiento</strong>: 08/06/1980<br>
            <strong>Teléfono</strong>: +584128361369 <br>
            <strong>Dirección</strong>:Calle Carabobo # 101<br>
            <strong>Genero</strong>: Masculino <br>
            <strong>Ciudad</strong>: Maracay <br>
            <strong>Provincia</strong>: Aragua <br>
            <strong>País</strong>: Venezuela<br>
            <strong>Códico Postal</strong>:2103 <br>
            <strong>Correo Electronico</strong>: vramh.developer@gmail.com <br>
            
          </p>
          <a href="/person" class="btn btn-primary btn-block">
            <span class="fa fa-user"></span> Registrar Nuevos
          </a>
          <a href="/profile" class="btn btn-primary btn-block">
            <span class="fa fa-user"></span> Volver al Perfil
          </a>
          <hr>
          <a href="/logout" class="btn btn-primary btn-block">
            Salir
          </a>
        </div>
      </div>
    </div>
  </div>
  <hr>
  <div class="container">
    <div class="col-sm-8 mx-auto ">
      <div class="card mt-6">
        <div class="card-header">
          <h6 style="text-align: center;">Listado</h6>
        </div>
        <div class="card-body">
          <table class="table table-striped table-dark">
            <thead>
              <tr>
                <th scope="col">ID</th>
                <th scope="col">First</th>
                <th scope="col">Last</th>
                <th scope="col">Teléfono</th>
                <th scope="col">Correo Electronico</th>
              </tr>
            </thead>
            <tbody>
                <% for (var i = 0; i < Person_1.length; i++) { %>
                   <tr>
                      <td><%= i + 1 %></td>
                      <td> <%= Person_1[i].firstname%></td>
                      <td> <%= Person_1[i].lastname%></td>
                      <td> <%= Person_1[i].phonenumber%></td>
                      <td> <%= Person_1[i].emailadress%></td>
                    </tr>
                <% } %>               
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</body>
<% include partials/scripts %>

</html>